body{
    background-color: rgb(156, 97, 42);
    padding: 10px;
    font-family: sans-serif;
    height: 250vh;
    list-style-type: none;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    font-weight: 300;
 
}


h1 {
font-weight: 1000;
text-align: center;
display: block;
color: rgb(255, 255, 255);
margin-left: 10px;
}

/* Topnav css */
/* Topnav css */
/* Topnav css */
/* Topnav css */

.topnav {
    padding: 5px;
    z-index: 2;
    width: 99%;
    max-height: 250px;
    position: fixed;
    background-color: white;
    border: 2px solid orange;
  } .topnav img {
   float: left;
   height: 3.4em;
   margin-top: 8px;
} .topnav li {
    float: left;
    color: rgb(217, 212, 243);
    text-decoration: none;
    font-size: 17px;
  } .topnav li {
    padding-top: 11px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
  } a:hover{
    text-decoration: none;
    color: black;
    border-bottom: black 1px solid;
} .topnav h1:hover {
    text-decoration: none;
    color: white;  
    
} li a {
    color: black;
} ul li {
    list-style-type: none;
}

